@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	var Product = ViewBag.Product;
	var Categories = ViewBag.Category;
}

<h2>Edit</h2>

<form action ="/product/edit?Id=@ViewBag.ID" method="post" >

		<div class = "form-group">
		<label>Name</label>
		<input type="text" name="Name" class="form-control" value="@Product.Name" required>
		</div>


		<div class="form-group">
	    <label>Location</label>
	     <textarea name="Location" class="form-control textarea-md" value="@Product.Location" required>@Product.Location</textarea>
  		</div>
  	
  		<div class="form-group">
	    <label >Scedule</label>
	    <input type="text" name="Schedule" class="form-control input-md" value="@Product.Schedule" required>
  		</div>
  		
  		<div class="form-group">
	    <label >Contact Info</label>
	    <input type="text" name="ContactInfo"  class="form-control input-md" value="@Product.ContactInfo"required>
  	    </div>
  	
  		<div class="form-group">
	    <label >Services</label>
	    <textarea name="Services" class="form-control textarea-md" value="@Product.Services" required>@Product.Services</textarea>
  		</div>
		
				<!-- File Upload -->
            <div class="form-group">
                <label  for="UnitPrice">Upload Picture</label>
                <div class="form-group">
                    <input type="file" accept="image/*" id="fileUpload" name="fileUpload" class="form-control input-md">
                </div>
            </div>
            	<!-- File Upload -->
            <div class="form-group">
                <label  for="UnitPrice">Upload Picture</label>
                <div class="form-group">
                    <input type="file" accept="image/*" id="fileUpload" name="fileUpload" class="form-control input-md">
                </div>
            </div>
<button type="submit" class="btn btn-primary">Update</button>
</form>